body{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #111;
    background: #f0f0f0;
}

#top{

    width: 100%;
    height: 80px;
    background: rgb(2, 90, 161);
}

#top nav{

    float: left;
    margin-left: 250px;
    width: 80%;
    margin-top: 26px;
}

#top nav a{

    color: #fff;
    text-decoration: none;
    margin-right: 35px;
    font-weight: 600;
}

#top nav a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

#left{
    width: 12%;
    height: 600px;
    padding-top: 20px;
    float: left;
    background: rgb(2, 90, 161);
    text-align: center;
}

.katlista{

    padding:20px 10px;
    border-bottom: 2px solid #fff;

}
.katlista:hover{

    background: rgb(2, 70, 126);
}

.katlista a{

    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

#right{

    width: 88%;
    float: left;
}

.termekdoboz{
    float: left;
    background:#fff;
    width: 29%;
    box-shadow: 0.3px 0.3px 0.3px rgb(41, 41, 41);
    margin: 10px 8px;
    padding: 8px;
    text-align:center;
    height: 280px;

}

.termekdoboz img{
    width: 50%;
    margin: 0 auto;
    height: 130px;
}

.termeknev{

    padding: 10px 0 5px;
    font-weight: bold;
}

.termekkosar{
    margin-top: 20px;
}

.termekkosar a{

    border: 1px solid rgb(2, 90, 161);
    border-radius: 8px;
    padding: 15px 25px;
    color:#fff;
    text-decoration: none;
    background: rgb(2, 90, 161);
}

.termekkosar a:hover{

    background: rgb(2, 70, 126);
}

#tradatok{

    width: 100%;
    background: #fff;
    padding-top: 20px;
}

#trkep{

    width: 50%;
    height: 50%;
    float: left;

}

#trkep img{

    width: 70%;
    margin-left: 50px;

}

#trar{
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
}

#trcikk{

    margin-top: 30px;
}

#trrovid, #trhosszu{

    margin-top: 10px;
    text-align: justify;
    padding: 15px;
}

#trkosar{

    margin-top: 50px;
    margin-bottom: 50px;
}

#trkosar a{

    background: rgb(2, 90, 161);
    color: #fff;
    text-decoration: none;
    padding: 15px 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

#trkosar a:hover{

    background: rgb(2, 70, 126);
    transition: all 0.4s ease-in-out;
}


#megrendeles{

    width: 95%;
    background: rgb(250,250,250);
    box-shadow:  0.3px 0.3px 3px rgb(41, 41, 41);
    margin: 0 auto;
    padding: 15px;
}

#megrendeles form{

    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#megrendeles form input,select{

    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
}

#megrendeles form button{

    background: rgb(2, 90, 161);
    color: #fff;
    font-size: 18px;
    border: 1px solid rgb(2, 90, 161);
    border-radius: 15px;
    padding: 8px 18px;
    margin: 5px 0;
}

#megrendeles form input[type="  checkbox"] {
    height: 20px;
}


